<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>M.SoCD @ IITPKD</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
  <meta name="description" content="Website of M.SoCD @ IIT Palakkad" />
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/theme.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/template.css" | relative_url }}">
  <script src="{{ "/assets/javascript/jquery-3.4.1.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/scripts.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/popper.min.js" | relative_url }}"></script>
</head>
