  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="z-index:1000;">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://iitpkd.ac.in">
        <img src="{{ "/assets/images/iitpkd_logo.png" | relative_url }}" alt="IIT PKD Logo" style="width:500px;margin-left:-0px;">
      </a>
      <div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="homeNav">
              <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
          </li>
          <!-- 
               <li class="nav-item" id="highlightsNav">
               <a class="nav-link" href="{{ "/highlights" | relative_url }}">Highlights</a>
               </li>  -->
          <li class="nav-item" id="aboutNav">
            <a class="nav-link" href="{{ "/about" | relative_url }}">About</a>
          </li>
          <li class="nav-item" id="curriculumNav">
              <a class="nav-link" href="{{ "/curriculum" | relative_url }}">Curriculum</a>
          </li>
          <!--  
               <li class="nav-item" id="syllabiNav">
               <a class="nav-link" href="{{ "/syllabi" | relative_url }}">Syllabi</a>
               </li> -->
          <li class="nav-item" id="facultyNav">
            <a class="nav-link" href="{{ "/faculty" | relative_url }}">Faculty</a>
          </li>
          <li class="nav-item" id="applyNav">
            <a class="nav-link" href="{{ "/apply" | relative_url }}">Join Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
