---
layout: default
---

<script>
  $(".nav li").removeClass("active");
  $("#applyNav").addClass("active");
</script>

<div class="row vh-75">
  <div class="col-12 my-auto">
    <div class="d-flex my-3">
      <div class="jumbotron w-100 py-5 mx-auto">
        <h4>Eligibility</h4>
        <ul>
            <li> <p class="lead"> To be eligible for the regular category of admission, candidates must possess a valid GATE score in CS/EE/EC/IN.</p>
          <br>
          <li> <p class="lead"> To be eligible for other categories of admission where a GATE score
            is not mandatory as per the institute regulations (such as sponsored category,
            CFTI degree holders etc.), candidates must posess a four years bachelors degree in Engineering/Technology in Computer Science and Engineering / Information Technology, Electrical Engineering, Electronics and Electrical/Communication Engineering, or Instrumentation.
        </ul>
      </div>
    </div>

    <div class="d-flex my-3">
      <div class="jumbotron w-100 py-5 mx-auto">
        <h4>How to Apply</h4>
        <p class="lead">
          Visit IIT Palakkad's PG <a class="font-weight-bold" href="https://pgadmit.iitpkd.ac.in">Application Portal</a> for detailed instructions.
        </p>
      </div>
    </div>

    <div class="d-flex my-3">
        <div class="jumbotron w-100 py-5 mx-auto">
            <h4>Contact Us</h4>
            <p class="lead">
                In case of any further questions, please write to <a class="font-weight-bold" href="mailto:socd@iitpkd.ac.in">socd@iitpkd.ac.in</a>.
            </p>
        </div>
    </div>
  </div>
</div>
